@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins" , "sans-serif";
    
}

body {
    margin: 0;
    padding: 0;
   overflow-x: hidden;
    overflow-y: auto;
}

.header {
    background-color: rgba(123, 22, 224, 0.342);
    padding: 16px;
    box-sizing: border-box;
    
}

.hero { 
  height: 100%;
  background-image: linear-gradient(180deg, rgba(123, 22, 224, 0.342), rgb(47, 117, 203));
  
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: auto; 
}

.logo {
  height: 40px;
  width: 40px;
  background: transparent;
  border: 1px solid rgb(42, 30, 155);
  color: rgb(249, 249, 249);
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0;
    
  }
  

  .nav-list a:hover{
    color: #2ecc71;
    transition: 0.3s all;

}

  .nav-list li {
    margin-left: 0; 
    
}
  
  .nav-list a {
    
    font-size: 18px;
    color: #4c2a9c;
    padding-block: 16px;
    margin-bottom: 0ch;
  }
  
  .contato-link{
    border: 2px solid rgba(8, 63, 90, 0.563); 
    border-radius: 20px;
    padding: 2px 5px; 
    text-decoration: none;
}

.contato-link a :hover{
  color: #c20c228f;
  transition: 0.2s all;
}
  
.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    background: rgb(157, 129, 229);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }


  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
 
  }
    
  body {
    margin: 0;
    padding: 0;
} 

h2.titulo{
    color: #fff;
    font-size: 28px;
    text-align: center;
}

h2.titulo span{
    color: blue;
}


#Projeto{
    color: white;
    background: transparent;
    cursor: pointer;
}

.container-text{
    padding: 150px;
}

.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text span{
    color: rgb(45, 13, 109);
}

.text p{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
}

 #Sobre2{
    color: rgb(249, 248, 248);
 }
 
 #Sobre1{
    position: relative;
    bottom: 4px; 
    
 }

 .interface {
    margin-top: 47px;
    width: 100%; 
    margin: auto; 
}

.qualidades .qualidades {
    padding: 40px;
    border: 2px solid rgb(173, 9, 9);
    border-radius: 20px;
    margin-bottom: 20px;
    width: 300px;
  
}

section.qualidades{
    
    padding: 50px 4%;
    background-color: transparent;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    
}


section.qualidades .flex{
    margin-top: 60px;
    gap: 70px;
    display: flex;
    margin-left: 6%;
    flex-wrap: wrap;
    justify-content: center;

}

.qualidades .qualidades-box{
    color: red;
    padding: 40px;
    border: 2px solid red;
    border-radius: 20px;
}

.qualidades .qualidades i {
    font-size: 80px;
    color: rgb(171, 19, 117);
    
    
}

.qualidades .qualidades h3{
    font-size: 26px;
    margin: 15px 0;
    color: rgb(17, 12, 165);
}

.qualidades .qualidades p {
    color: rgb(3, 9, 35);
    font-size: 15px;
   
}


.projeto-container {
  display: flex;
  justify-content: space-around; 
}

.projeto-item {
  flex: 1; 
  text-align: center; 
  padding-top: 20px;
}

.projeto-item img {
  width: 50%; 
  height: auto; 
  max-width: 100%; 
}
